.select-stories{
    border:2px solid grey;
    outline-style: none;
    outline-color: transparent;
    padding: 10px;
    color: grey;

    &:focus{
        outline: none;
        color:#fff
    }
}